<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubactions20231121134838.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cce101e5-47ab-456d-86bb-35d89664e720/resourcegroups/AzureFunctionsDemo/providers/Microsoft.Web/sites/GitHubActions20231121134838</ResourceId>
    <UserName>$GitHubActions20231121134838</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://githubactions20231121134838.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>